* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: #67adbe;
    grid-row: 1 / 4;
    color: #fff;
}

.sidebar h3 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.sidebar p {
    margin-bottom: 10px;
}

.sidebar-settings {
    margin-top: 40px;
}

.sidebar svg {
    align-items: center;
    width: 15px;
    height: 15px;
    margin-left: 20px;
}

.header {
    display: flex;
    background-color: #f3f4f6;
    grid-column: 2 / 5;
}

input {
    width: 400px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 10px;
    height: 23px;
    background-color: #e5e7eb;
    border: 1px solid #67adbe;
}

.input-icon {
    width: 18px;
    height: 18px;
    margin-top: 17px;
}

.search-bar {
    display: flex;
}

.header1 {
    margin-left: 50px;
}

.name {
    margin-top: 5px;
    font-weight: 600;

}

.hi {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.bolt-icon1 {
    width: 50px;
    height: 50px;
    color: #ffd700;
    background-color: #d42929;
    border-radius: 50%;
    margin-right: 10px;
}

.bolt1 {
   display: flex; 
}


.header2  {
    margin-left: 300px;
    margin-top: 20px;
}

.bell-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 5px;
}

.bolt-icon2 {
    width: 30px;
    height: 30px;
    color: #ffd700;
    background-color: #d42929;
    border-radius: 50%;
    margin-right: 15px;
}

.bolt2 {
    display: flex;
}

button {
    margin-top: 25px;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: #67adbe;
    color: #fff;
    border: none;
}

.projects {
    background-color: #e5e7eb;
    grid-column: 2 / 4;
    display: grid;
     grid-template-rows: 1fr 10fr 10fr;  
    gap: 20px 20px;
    padding: 20px;
    font-size: 15px;
}

.head-projects {
    grid-column: 2 / 3;
    grid-column-start: 1;
    
}

.projects div {
    border-radius: 5px;
    padding: 5px;
    background-color: #f3f4f6;
    border-left: 5px solid #67adbe;
    padding: 5px;
}

.projects h4 {
    margin-top: 15px;
}


.projects svg {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-right: 10px;
}

.project-icon {
    display: flex;
    justify-content: flex-end;
}

.info {
    background-color: #e5e7eb;
    padding: 20px;
}

.info div {
    border-radius: 5px;
    background-color: #f3f4f6;
}

.head-announcements {
    margin-bottom: 18px;
}

.announcements p {
    font-size: 12px;
}

.announcements h5 {
    margin-top: 15px;
    
}

.announcements  {
    padding: 5px;
}

.announcement-line {
    border-bottom: 2px solid #e5e7eb;
    margin-top: 10px;
}

.trending {
    margin-top: 20px;
    font-size: 14px;
    padding: 5px;
}



.head-trending {
    margin-top: 20px;
}

.trending p {
    font-size: 13px;
    margin-left: 15px;
}



.trending-name {
    font-weight: 500;
    margin-top: 10px;
}

.trending svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 8px;
}

.cake-icon {
    color: #cf8acf;
    background-color: #2461bb; 
}

.moon-icon {
    color: #fff;
    background-color: #000;
}

.music-icon {
    color: #50b6b1;
    background-color: #c454c4;
}

.art-icon {
    background-color: #9ce09c;
    color: #d83550;
}

.trending-icon {
    display: flex;
}



@media screen and (min-width: 280px) and (max-width: 767px){

.sidebar {
    width: 150px;
}
    
.projects {
    width: 440px;
    grid-template-rows: 1fr 12fr 12fr; 
}
    
input{
    width: 180px;
}
}
    
@media screen and (min-width: 768px) and (max-width: 920px){
        
.project-icon {
    margin-left: 10px;
    margin-top: 20px;
}
    
input {
    width: 250px;
}
    
.projects {
    grid-template-rows: 1fr 18fr 18fr; 
}
    
.trending {
    padding: 10px;
}
}
    
@media screen and (max-width: 1024px){
.header2 {
    margin-left: 100px;
}
}
    
@media screen and (min-width: 1025px) and ( max-width: 1280px){
    
.announcements {
    margin-top: 23px;
}
}